*{
  padding: 0;
  margin: 0;
}

html{
  width: 100vw;
  height: 100vh;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #78866B;
  overflow-x: hidden;
}

/*Header*/

header{
  background-color: #78866B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #EAD9C9;
}

.Header_Pesquisa span{
  cursor: pointer;
}

.Header_Logo img{
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
}

.Header_Nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.Header_Nav span{
  cursor: pointer;
}

/*Login*/

#Login{
  padding: 1em;
  display: flex;
  flex-direction: column;
  display: none;
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-top:3em;
  height: 60vh;
}

#Login h1{
  text-align: center;
  color: #EAD9C9;
  font-size: 20px;
  margin-bottom: 20px;
}

.Login_inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.Login_inputs label{
  color: #EAD9C9;
  font-size: 15px;
}

.Login_inputs input{
  background-color:#78866B;
  border: 1px solid #ead9c9be;
  padding: 10px;
  outline: none;
  color: #EAD9C9;
}

.Login_inputs input::placeholder{
  color: #ead9c99b;
}

.Login_senha{
  text-align: end;
  font-size: 14px;
}

.Login_senha a{
  color: #ead9c9a9;
}

.Login_Loginbtn{
  margin-top: 10px;
}

.Login_Loginbtn input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: #EAD9C9;
  background-color: #B08B59;
  cursor: pointer;
}

.Login_Esqueceu{
  text-align: center;
  color: #EAD9C9;
  margin-top: 5px;
  font-size: 13px;
}

.Login_Esqueceu a{
  color: 
  #EAD9C9;
}

/*Home*/

/*Apresentação - parte 1*/

.Apresentacao{
  color: #EAD9C9;
  width: 90vw;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

.Apresentacao_Titulo{
  font-size: 16px;
}

.Apresentacao_texto{
  font-size: 25px;
  margin-top: 20px;
}

/*Banner - parte 2*/

.swiper {
  width: 90vw;
  margin-top: 3em;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerCELL{
  display: none;
}

/*Destaques - parte 3*/

#Destaques{
  width: 90vw;
  max-width: 1000px;
  margin: auto;
  margin-top: 3em;
}

#Destaques h1{
  font-size: 20px;
  color: #EAD9C9;
  text-align: center;
  margin-bottom: 1em;
}

.DivGeralDestaques{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.DivGeralDestaques div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: #EAD9C9;
  cursor: pointer;
  gap: 10px;
}

.DivGeralDestaques img{
  width: 250px;
  border-radius: 4px;
}

.DivGeralDestaques img:hover{
  transform: translate(-3px, -3px);
  transition: transform 1s;
}

/*Apresentação2 - parte 4*/

.Apresentacao2{
  color: #EAD9C9;
  width: 90vw;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 3em;
}

.Apresentacao2_Titulo{
  font-size: 16px;
}

.Apresentacao2_texto{
  font-size: 25px;
  margin-top: 20px;
}

/*Informações - parte 5*/

.Infos{
  background-color: #B08B59;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #EAD9C9;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

.Infos div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 150px;
  padding: 5px;
}

.Infos h1{
  font-size: 20px;
}

.Infos p{
  font-size: 15px;
  text-align: center;
}

.Infos span{
  font-size: 50px;
  font-weight: 100;
}

/*Footer*/

.Footer{
  background-color: #333;
  padding: 40px 20px;
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Footer i{
  cursor: pointer;
}

.Footer_email{
  color: #EAD9C9;
  border: 1px solid #EAD9C9;
  border-radius: 2px;
  padding: 5px;
}

.Footer_emailbtn{
  background-color: #333;
  border: none;
  outline: none;
  color: #EAD9C9;
  width: 210px;
}

.Footer_emailEnvio{
  background-color: #333;
  border: none;
  outline: none;
  color: #EAD9C9;
  cursor: pointer;
}

/*Carrinho*/

#Carrinho{
  display: none;
}


@media (max-width:678px){

  /*Banner - parte 2*/

  .bannerPC{
    display: none;
  }

  .bannerCELL{
    display: block;
  }

}

